<div class="col-xs-12 col-sm-3">
  <div class="card">
    <div class="card-content">
      <%= image_path 'https://unsplash.it/300/300', {class: "card-img"}  %>
      <h2 class="card-title">
        <%= link_to resource.name, cocktail_path(resource) %>
      </h2>
    </div>
  </div>

  <div class="card-description">
  </div>
</div>
